.sliding-nav-section {
  width: 100vw;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.menu-container {
  width: 340px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-wrapper {
  width: 100%;
  height: 48px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
  font-size: 20px;
  font-weight: 100;
}
.menu > * {
  cursor: pointer;
}
.menu h2 {
  font-weight: 200;
  font-size: 26px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}
.menu-item {
  position: relative;
  width: 100%;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.menu-content {
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-item a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  cursor: pointer;
}
.menu-item h3 {
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.dropdown-arrow {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}
.menu-sub-content {
  position: relative;
  align-items: center;
  min-height: 36px;
  text-wrap: wrap;
  margin: 1px 10px;
  padding: 0px 10px;
  padding-bottom: 8px;
  background-color: rgba(80, 82, 85, 0.158);
  border-radius: 8px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.last-item {
  width: 340px;
  position: fixed;
  bottom: 0;
}
.last-item button {
  background-color: rgb(212, 212, 212);
  border: none;
  width: 100%;
  padding: 10px;
}
