/* styles/Carousel.module.css */
.carouselContainer {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: black;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  opacity: 0.7;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.462);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.462);
}

.navButton.prev {
  left: 10px;
}

.navButton.next {
  right: 10px;
}

.dotIndicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(0, 0, 0, 0.462);
}
