.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 350px;
  color: white;
  margin-top: 80px;
  position: absolute;
}
.footerContentDiv {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 25% 40%;
  gap: 3rem;
  padding: 0 10rem;
}
.footerInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}
.footerInfoDiv h1 {
  font-size: 3rem;
}
.socialDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 2.5rem;
}
.socialDiv a {
  color: rgb(215, 215, 215);
}

@media (max-width: 768px) {
  .mainContainer {
    justify-content: flex-start;
    margin-top: 40px;
  }
  .footerContentDiv {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin-top: 0;
  }
  .footerInfoDiv {
    gap: 10px;
    width: auto;
  }
  .footerInfoDiv h1 {
    font-size: 24px;
  }
  .serviceDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .serviceDiv h2 {
    font-size: 20px;
  }
  .linksDiv {
    gap: 16px;
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .socialDiv {
    margin-top: 40px;
  }
  .footerContentDiv {
    justify-content: space-around;
  }
}
